.header {
    --color-primary: var(--color-text);
}
.fade {
    background: color-mix(in srgb, var(--color-light) 95%, transparent);
    box-shadow: 0 0 2rem 2rem color-mix(in srgb, var(--color-light) 95%, transparent);
    border-radius: 10rem;
}
.header h1 {
    font-size: 3rem;
}
.tagline::after {
    content: "\A";
    white-space: pre;
}
.bg-svg, .bg-png, .bg-jpg {
    background-position: center; 
    background-repeat: repeat;
}
.bg-svg {
    background-image: url("banner.svg");
}
.bg-png {
    background-image: url("banner.png");
}
.bg-jpg {
    background-image: url("banner.jpg");
}
.bg-contain {
    background-size: contain;
}
.bg-cover {
    background-size: cover;
}
.bg-fit-width {
    background-size: 100% auto;
}
.bg-fit-height {
    background-size: auto 100%;
}
.bg-tile {
    background-size: auto auto;
}
.bg-no-repeat {
    background-repeat: no-repeat !important;
}
.bg-odd {
    background-color: var(--color-light) !important;
}
.bg-even {
    background-color: var(--color-white) !important;
}
.color-text {
    color: var(--color-text);
}
.content > h1 {
    text-align: center;
}