{% import "macros/image.html" as image %}

{# 
Insert list: rendering a list of seminars, which are contained in the section 
object, is not possible directly because Zola renders shortcodes before 
populating the section's list of pages. To handle this, the below code 
implements a macro-based workaround: (1) use the list shortcode to add
placeholder divs containing the section name, (2) parse the page's HTML to 
extract the section name, (3) use the get_section function to retrieve the 
relevant section, whose pages will have been populated by Zola by the time the 
macro is called, and render the desired list of seminars by looping over the 
section's list of pages, then (4) replace the placeholder div with the actual, 
rendered div. The most obvious way to retrieve the section name would have been
to use a regex-based find or replace function: since Tera templates don't have
this, an in-some-sense-less-smart split-based approach which places the leading
and trailing HTML on both sides is used instead. This is hopefully not too hard
to make sense of. It would be great to rewrite this in a simpler way if future
Zola or Tera changes make it possible without horrible workarounds.
#}

{% macro insert_list(content) %}
{% set split_content = content | split(pat = '<div academic-workshop-list-start></div>') %}
{% set leading_html = split_content | slice(end = 1) | first %}
{{ leading_html | safe }}
{% for section_with_trailing_html in split_content | slice(start = 1) %}
    {% set highlight = section_with_trailing_html is containing('<div academic-workshop-list-end-highlight></div>') %}
    {% if highlight %}
        {% set pattern = '<div academic-workshop-list-end-highlight></div>' %}
    {% else %}
        {% set pattern = '<div academic-workshop-list-end></div>' %}
    {% endif %}
    {% set split_section_with_trailing_html = section_with_trailing_html | split(pat = pattern) %}
    {% set section_name = split_section_with_trailing_html | first %}
    {% set trailing_html = split_section_with_trailing_html | slice(start = 1) | first %}
    {% set current_section = get_section(path = section_name ~ '/_index.md') %}
    {{ list::items(pages = current_section.pages, highlight = highlight) }}
    {{ trailing_html | safe }}
{% endfor %}
{% endmacro %}

{% macro items(pages, highlight) %}
<div class="d-flex flex-column mt-5">
    {% if highlight %}
        {% set filtered_pages = pages | filter(attribute = 'extra.highlight', value = true) %}
    {% else %}
        {% set page_limit = section.extra.list_page_limit | default(value = config.extra.list_page_limit) %}
        {% set filtered_pages = pages | slice(end = page_limit) %}
    {% endif %}
    {% for page in filtered_pages %}
        {{ list::item(page = page, highlight = highlight )}}
    {% endfor %}
</div>
{% endmacro %}

{% macro item(page, highlight) %}
<div class="d-flex flex-column r:flex-row items-center r:items-start mb-4">
    <a class="d-contents" href="{{ get_url(path = page.path) | safe }}">
        <img class="rounded-circle mb-3" alt="{{ page.extra.author }}" {{ image::resize(url = page.extra.image | default(value = false), name = page.extra.author, directory = page.colocated_path) }}>
    </a>
    <div class="mr-auto px-3">
        <a href="{{ get_url(path = page.path) | safe }}">
            <h2 class="mb-1">{{ page.title }}</h2>
        </a>
        <a href="{{ page.extra.author_url | safe }}">
            <h3 class="h5 mb-2">{{ page.extra.author }} &middot; {{ page.extra.institution }}</h3>
        </a>
        {% if highlight %} 
            {% set time = page.extra.time | default(value = false) %}
        {% endif %}
        <h4 class="h6 mb-3">{{ page.date | date(format='%Y-%m-%d') }}{% if time %} &middot; {{ time }}{% endif %}</h4>
        
        {% if not highlight %}
            {% set abstract_button = load_data(literal = 'buttons = [{name = "Abstract", url = "' ~ get_url(path = page.path) ~ '"}]', format = 'toml') %}
            {% set buttons = abstract_button.buttons | concat(with = page.extra.buttons) %}
        {% else %}
            {% set buttons = page.extra.buttons %}
        {% endif %}
        {% for button in buttons %}
            <a class="btn mb-3 mr-2" href="{{ button.url | safe }}">{{ button.name }}</a>
        {% endfor %}
        {% if highlight %}
            {{ page.content | safe }}
        {% endif %}
    </div>
</div>
{% endmacro %}