{% import "macros/image.html" as image %}

<div class="grid mt-5 mb-4">
    {% for lines in text %}
        <div class="text-center mx-3">
            {% if urls %}
                <a class="d-contents color-text" href="{{ urls[loop.index0] | safe }}">
            {% endif %}
            {% set lines = text[loop.index0] %}
            {% if lines is not iterable %}
                {% set lines = [text[loop.index0]] %}
            {% endif %}
            <img class="rounded-circle mx-auto mb-3" alt="{{ lines[0] }}" {{ image::resize(url = images[loop.index0] | default(value = false), name = lines[0], directory = image_dir | default(value = false)) }}>
            {% for line in lines %}
                {% if loop.first %}
                    <h2 class="h4 my-1">{{ line }}</h2>
                {% else %}
                    <h3 class="h6 my-1">{{ line }}</h3>
                {% endif %}
            {% endfor %}
            {% if urls %}
                </a>
            {% endif %}
        </div>
    {% endfor %}
</div>